<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>AccessFilter</filter-name>
  	<display-name>AccessFilter</display-name>
  	<description></description>
  	<filter-class>filters.AccessFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AccessFilter</filter-name>
  	<url-pattern>/AccessFilter</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<display-name>RegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CookieServlet</servlet-name>
  	<display-name>CookieServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.CookieServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ErrorServlet</servlet-name>
  	<display-name>ErrorServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.ErrorServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AsyncUpdateServlet</servlet-name>
  	<display-name>AsyncUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.AsyncUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AsyncUpdateServlet</servlet-name>
  	<url-pattern>/AsyncUpdateServlet</url-pattern>
  </servlet-mapping>
 
 <error-page>
 <error-code>404</error-code>
 <location>/error</location>
 </error-page>
  <error-page>
 <error-code>500</error-code>
 <location>/error</location>
 </error-page>
</web-app>
